<!DOCTYPE html>
<html lang="en" ng-app="invoicing.app" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/js/lib/isteven-multi-select/isteven-multi-select.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <style type="text/css">
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Invoice App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Products</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Invoices</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div ui-view></div>
    </div>

    <script type="text/javascript" src="/js/lib/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/js/lib/isteven-multi-select/isteven-multi-select.js"></script>
    <script type="text/javascript" src="/js/app/app.js"></script>

    <script type="text/ng-template" id="main/main.html">
      <div invoices-list></div>
    </script>

    <script type="text/ng-template" id="invoices.list/invoices.list.html">
      <button ng-click="vm.showNewInvoiceForm = !vm.showNewInvoiceForm" class="btn btn-primary">New invoice</button>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
          <form ng-show="vm.showNewInvoiceForm">
            <div class="form-group">
              <label for="">Customer</label>
              <select class="form-control"
                      ng-options="customer.id as customer.name for customer in vm.customers"
                      ng-model="vm.invoiceCustomer">
              </select>
            </div>
            <div class="form-group">
              <label for="">Products</label>
              <div
                  isteven-multi-select
                  button-content="products"
                  input-model="vm.products"
                  output-model="vm.selectedProducts"
                  button-label="name"
                  item-label="name"
                  tick-property="selected"
                  helper-elements="filter"
                  >
               </div>
            </div>
            <div class="row" style="margin-top: 20px; margin-bottom: 20px">
              <div class="col-md-3" ng-repeat="product in vm.selectedProducts">
                <div>{{ product.name }}</div>
                <div>{{ product.price }}</div>
                <div class="form-group">
                  <label for="">Quantity</label>
                  <input class="form-control" type="number" min="1"
                          ng-model="product.quantity"
                          ng-init="product.quantity = 1"
                          ng-change="vm.calculateTotal()">
                  </input>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Invoice Discount</label>
              <input class="form-control" type="number" min="0"
                      ng-model="vm.invoiceDiscount" ng-change="vm.calculateTotal()">
              </input>
            </div>
            <div class="well">Total: {{ vm.invoiceTotal }}</div>
            <button type="submit" class="btn btn-primary" ng-click="vm.createNewInvoice()">Create</button>
            <button type="button" class="btn btn-secondary" ng-click="vm.showNewInvoiceForm = !vm.showNewInvoiceForm">Cancel</button>
          </form>
        </div>
      </div>

      <div ng-repeat="invoice in vm.invoices">{{ invoice.total }}</div>
    </script>
  </body>
</html>